@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,400;8..144,700&display=swap');

.mediaDetails {
  img {
    width: 25em !important;
  }

  font-family: 'Roboto Flex', sans-serif;
}

  
  .mediaDetails__mediaGenreContainer {
         
  display: flex;
  row-gap: 1rem, 1rem;
  gap: 4rem;

}

.collectioRatingContainer {

  .checked {
    color: orange;
    
  }

}

.userRatingContainer {
  
  .checked {
    color: rgb(0, 17, 255);
  }

}

.mediaUserListContainer {

  display: flex;
  flex-direction: row;
  align-content: space-between;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch; 
}

.mediaRatingContainer {    
 
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  align-content: center;

}

.mediaContainer {
  margin-top: 7rem;
  margin-left: 10rem;
  display: flex;
  justify-content: center;
}

.mediaImageContainer {    
 
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  img {    
    
    border-radius: 1rem;   
    
  }

  h1 {
    
    font-size:x-large; 
    font-weight:bolder;
}

h2, h4 {
    
  font-style: oblique;
    
}

  }

  span {
    height: 50px;
    width: 50px;
    transform: scale(2)
    

  }



.mediaTextContainer {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-start; 
  justify-content: center;
  margin-left: 3rem;
  margin-right: 10rem;  
  gap: 2rem;

  h3 {

    font-style: italic;
    text-decoration: underline;
  }


  .mediaOverviewContainer {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
    

      .mediaDetails__mediaOverview {

          font-size:x-large;
          font-style: italic;     
        
      }

}
}


.button {
  display: inline-flex;
  height: 50px;
  padding: 0;
  background: #009578;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  font-size: 10px;
  font-weight: 500;
  cursor: pointer;
}

.button:hover {
  background: #008168;
}

.button:active {
  background: #006e58;
}

.button__text,
.button__icon {
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  color: white;
  height: 100%
  
}

.button__icon {
  font-size: 1.5em;
  background: rgba(0,0,0, 0.08)

}