@use '../../styles/vars.scss';
@use 'sass:color';

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: color.scale(vars.$primary-color, $lightness: 24%);
    padding: 1em 1.2em;

    &__logoContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 0.5em;

      &-button {

        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3em;
        color: vars.$secondary-color;
        cursor: pointer;
        transition: transform 500ms;
  
        &:hover {
          transition: transform 300ms;
          transform: scale(1.2);
        }
  
        &:active {
          transition: transform 200ms;
          transform: scale(1.35);
        }
      }

      &-logo {
        color: vars.$dark-color;
        text-shadow: 1px 1px 0.05em vars.$dark-color;
        font-weight: bold;
        font-size: 2em;
      }
    }

    &__form {
        position: relative;
        top: 50%;
        left: 50%;
        margin-top: 35px;
        width: 350px;
        height: 40px;
        border-radius: 40px;
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
        transform: translate(-50%, -50%);
        background: #fff;
        transition: all 0.3s ease;
      
        &.focus {
          box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
        }
      }
      
      &__input {
        position: absolute;
        top: 10px;
        left: 38px;
        font-size: 14px;
        background: none;
        color: #5a6674;
        width: 195px;
        height: 20px;
        border: none;
        appearance: none;
        outline: none;
      
        &::-webkit-search-cancel-button {
          appearance: none;
        }
      }
      
      &__button {
        position: absolute;
        top: 10px;
        left: 15px;
        height: 20px;
        width: 20px;
        padding: 0;
        margin: 0;
        border: none;
        background: none;
        outline: none!important;
        cursor: pointer;
        
        & svg {
          width: 20px;
          height: 20px;
          fill: #5a6674;
        }
      }
      
      &__option {
        position: absolute;
        text-align: right;
        top: 10px;
        right: 15px;
      
        div {
          position: relative;
          display: inline-block;
          margin: 0 1px;
          cursor: pointer;
          
          input {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.01;
            cursor: pointer;
          }
          
          span {
            position: absolute;
            display: block;
            text-align: center;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0;
            background: #929AA3;
            color: #fff;
            font-size: 9px;
            letter-spacing: 1px;
            line-height: 1;
            text-transform: uppercase;
            padding: 4px 7px;
            border-radius: 12px;
            top: -18px;
            transition: all .2s ease-in-out;
            
            &::after {
              content: '';
              position: absolute;
              bottom: -3px;
              left: 50%;
              transform: translateX(-50%);
              border-top: 4px solid #929AA3;
              border-left: 4px solid transparent;
              border-right: 4px solid transparent;
              transition: all .2s ease-in-out;
            }
          }
          
          &:hover span {
            opacity: 1;
            top: -21px;
          }
          
          label {
            display: block;
            cursor: pointer;
          }
          
          svg {
            height: 20px;
            width: 20px;
            fill: #5a6674;
            opacity: 0.6;
            transition: all .2s ease-in-out;
            pointer-events: none;
          }
          
          &:hover svg {
            opacity: 1;
          }
          
          input:checked + label svg {
            fill: vars.$third-color;
            opacity: .9;
          }
          
          input:checked + label span {
            background: vars.$third-color;
            
            &::after {
              border-top-color: vars.$third-color;
            }
          }
        }
      
      
      }
     
      &__user{
          display: flex;
          text-align: center;
          font-weight: bold;
      }

      &__login{
          cursor: pointer;
      }

      &__register {
        height: 68px;
        display: flex;
        align-items: center;
      }

      &__login p{
          margin: auto;
      }

      &__register p{
          margin: auto;
      }
    
}